@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Saira+Stencil+One&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration:none;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
}
body{
    background-image: url(https://www.bhmpics.com/downloads/black-screen-desktop-Wallpapers/1.961978.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}
p {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    text-indent: 5rem;
}
.section-title {
    font-size: 5rem;
    font-weight: 300;
    font-family: 'Saira Stencil One', sans-serif;
    color: rgb(255, 255, 255);
    margin-bottom: 5%;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}
.section-title span {
    color: rgb(92, 228, 205);
    font-family: 'Saira Stencil One', sans-serif;
}

/* HEADER */
#header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    text-transform: uppercase;
    background: linear-gradient(#000000, #0c0c0cd7);
}
/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
} */

/* NAV BAR */
nav, .nav-list{
    display: flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    font-weight: 500;
    position: relative;
}
.nav-list{
    gap: 5rem;
    list-style: none;
    font-size: 2.5rem;
}
a{
    color: rgb(255, 255, 255);
}
li:hover{
    color: rgb(255, 255, 255);
    text-shadow:
    0 0 7px rgb(92, 228, 205),
    0 0 10px rgb(92, 228, 205),
    0 0 21px rgb(92, 228, 205),
    0 0 28px rgb(92, 228, 205),
    0 0 38px rgb(92, 228, 205);
}

/* Name */
.logo{
    /* color: rgb(127, 255, 234); */
    font-family: 'Saira Stencil One', sans-serif;
    font-size: 4rem;
    background: linear-gradient(90deg, #247B9F, #70C1B3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo:hover{
    cursor: default;
}

/* Home */
/* #home .home{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
} */

/* section #home{
    padding-top: 5vh;
    height: 96vh;
    margin: 15rem 25rem;
    box-sizing: border-box;
    min-height: fit-content;  
} */
#home{
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    padding: 28vh 30vh;
}
#home h2 {
    display: block;
    width: fit-content;
    font-size: 5vw;
    position: relative;
    color: transparent;
    -webkit-text-stroke: 0.1vw rgb(255, 255, 255);
}
#home h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgb(255, 255, 255);
    overflow: hidden;
    animation: text_reveal 0.7s ease-in forwards;
    animation-delay: 1.2s;
}
@keyframes text_reveal{
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
.user{
    width: 400px;
    height: auto;
    display: flex;
    margin: auto 0;
}
/* neon button */
.neon {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid rgb(92, 228, 205);
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}
.neon:hover {
    color: rgb(44, 207, 180);
    background-color: rgb(255, 255, 255);
    box-shadow:
    0 0 7px rgb(255, 255, 255),
    0 0 10px rgb(92, 228, 205),
    0 0 21px rgb(92, 228, 205),
    0 0 28px rgb(92, 228, 205);
    animation: flicker 1.5s infinite alternate;
}
@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        box-shadow:
        0 0 10px rgb(92, 228, 205),
        0 0 21px rgb(92, 228, 205),
        0 0 28px rgb(92, 228, 205),
        0 0 40px rgb(92, 228, 205),
        0 0 52px rgb(92, 228, 205);
    
    }
    
    20%, 24%, 55% {        
        box-shadow: none;
    }    
}

/* ABOUT */
#about{
    /* max-width: 100%; */
    border-radius: 20px;
    margin: 10% auto;
    display: flex;
    justify-content: flex-start; 
    padding: 22vh 0vh;
}
#about .about {
    background-image: linear-gradient(180deg, rgba(36, 36, 36, 0.295) 0%, rgba(0, 0, 0, 0.658) 100%);
    border-radius: 20px;
    flex-direction: column-reverse;
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    padding: 18vh 24vh;
}
#about h2{
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    color: white;
}

/* PROJECTS */
#projects{
    margin: 10% auto;
    display: flex;
    justify-content: flex-start; 
    padding: 10vh 0vh;
    background-image: linear-gradient(180deg, rgba(36, 36, 36, 0.295) 0%, rgba(0, 0, 0, 0.658) 100%);
}
.scroller{
    width: 100%;
    height: 85%;
    display: flex;
    overflow-x: hidden;
}
.myproj{
    min-width: 50%;
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    padding: 0rem 3rem 0rem;
    /* gap: 3rem; */
    border: #000000;
}
.myproj img{
    width: 85%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
#projects h2{
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
    color: white;

}

/* CONTACT */
#contact{
    border-radius: 20px;
    margin: 10% auto;
    display: flex;
    justify-content: flex-start;
    gap: 5rem; 
    padding: 22vh 0vh 0vh;
}
#contact .contact {
    background-image: linear-gradient(180deg, rgba(36, 36, 36, 0.295) 0%, rgba(0, 0, 0, 0.658) 100%);
    border-radius: 20px;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 10vh 15vh;
}
#contact .contact-items {
    width: 100%;
    display: flex;
    gap: 5vh;
    margin: 10vh 0vh 0vh;
}
.contact-item{
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-item img{
    width: 30%;
    margin: 0vh 2vh;
}
.contact-item h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: white;
}
.contact-item h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
    color: white;
}
.social-icon{
    width: 100%;
    display: flex;
    gap: 5vh;
    margin: 10vh 0vh 0vh;
}
.social-item img{
    width: 20%;
    margin: 0vh 10vh;
    filter: invert(1);
}
.social-item img:hover{
    transform: scale(1.5);
    filter: drop-shadow(0 0 10px)
    drop-shadow(0 0 20px);
}

/* FOOTER */
#footer{
    background: rgba(0, 0, 0, 0.658);
}
#footer .footer{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    text-align: center;
}
#footer h2 {
    color: white;
    text-transform: uppercase;
    padding-left: 6rem;
}
#footer p{
    font-size: 1rem;
}
.fireflies{
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}
.firefly{
    position: fixed;
    display: flex;
}
.firefly span{
    position: relative;
    width:  20px;
    height: 20px;
    background: #ffffff;
    margin: 0 30px;
    border-radius: 70%;
    /* box-shadow: 0 0 0 10px #e6f06444; */
    box-shadow:
        0 0 10px rgb(92, 228, 205),
        0 0 21px rgb(92, 228, 205),
        0 0 28px rgb(92, 228, 205),
        0 0 40px rgb(92, 228, 205),
        0 0 52px rgb(92, 228, 205);
    animation: float 15s linear infinite;
    animation-duration: calc(120s / var(--i));
}
.firefly span:nth-child(even){
    background: #ffffff;
    /* box-shadow: 0 0 0 8px #7083c1c5,
    0 0 0 12px #7083c193,
    0 0 0 15px #7083c160; */
    box-shadow:
        0 0 10px rgb(92, 228, 205),
        0 0 21px rgb(92, 228, 205),
        0 0 28px rgb(92, 228, 205),
        0 0 40px rgb(92, 228, 205),
        0 0 52px rgb(92, 228, 205);
}
@keyframes float{
    0%{
        transform: translateY(100vh) scale(0.2);
    }
    100%{
        transform: translateY(-10vh) scale(0.5);
    }
}